</main>
</div>
</div>
<script src="/js/aos.js"></script>
<script>
    AOS.init();
    function check() {
        var select = document.getElementById("number");
        if(select.value.length != 10) {
            alert("10 digit Phone number is required");
        } 
    }   
</script>
</body>
</html>