@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8rem;
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  z-index: 0;
  /* position: relative; */
}

.flash-message {
  background-color: #9bf5f8;
  padding: .5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.scroll {
  position: absolute;
  
  margin-top: 25rem;
  /* margin-left: 110rem; */
  /* margin-right: 50rem; */
  padding-left: 0px;

}

/* .home-scroll {
  height: 5.6rem;
  position: absolute;
  right: 40px;
  bottom: 4.8rem;
} */

.home-scroll__text {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 5.6rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #000000;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 5.6rem;
  -webkit-transform: rotate(90deg) translate3d(-8rem, 0, 0);
  -ms-transform: rotate(90deg) translate3d(-8rem, 0, 0);
  transform: rotate(90deg) translate3d(-8rem, 0, 0);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  margin-top: 23rem;
  margin-right: 3rem;
  z-index: 1;

}

.margin-left {
  margin-left: 2rem;
}

.home-scroll__text:hover {
  /* display: block;
  height: 5.6rem;
  width: 5.6rem;
  margin-top: -2rem;
  background-image: url(../img/icon-arrow-down.svg);
  fill: #FF3366;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 15px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; */
  border-bottom:1px solid #FF3366;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30px;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 9.5px;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondry {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* .heading-secondry:hover {
  -webkit-transform: skewY(5deg) skewX(10deg);
          transform: skewY(5deg) skewX(10deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
} */

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30vh;
}

.section-features {
  padding: 30rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
  height: 20rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-book {
  z-index: 10;
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-5.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2);
}

.book-form {
  width: 50%;
  padding: 5rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border: none;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-color {
  background-color: #FF3366;
  color: #fff;
}

.btn-color::after {
  background-color: #FF3366;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}


.link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border: none;
}

.link:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.link:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.link:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.link-color {
  background-color: #FF3366;
  color: #fff;
}

.link-color::after {
  background-color: #FF3366;
}

.link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.link-animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.btn-link:link, .btn-link:visited {
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-link:hover {
  background-color: #55c57a;
  color: white;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-link:active {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  position: absolute;
  -webkit-box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.composition-photo-1 {
  top: -2rem;
  left: 0;
}

.composition-photo-2 {
  right: 0;
  top: 4rem;
}

.composition-photo-3 {
  left: 8rem;
  top: 15rem;
}

.composition-photo:hover {
  outline: 1rem solid #55c57a;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 20;
  border-radius: 2px solid black;
}

.composition:hover .composition-photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  height: 301px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box-icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.header {
  height: 95vh;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col"] {
  float: left;
}

.row [class^="col"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col1of2 {
  width: calc((100% - 6rem)/2);
}

.row .col1of3 {
  width: calc((100% - 2 * 6rem)/3);
  background-color: red;
}

.row .col1of4 {
  width: calc((100% - 3 * 6rem)/4);
}

.row .col2of4 {
  width: calc((100% - 6rem)/2);
}

.form-input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 60%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.u-margin-top {
  margin-top: -1rem;
}

.footer {
  z-index: 10;
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}

.footer-list {
  list-style: none;
}

.footer-item {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-link:link, .footer-link:visited {
  color: #eb2f64;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer-link:hover, .footer-link:active {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

.footer-copyright {
  color: aliceblue;
  border-top: 1px solid azure;
  width: 40%;
  padding-top: 4rem;
}

.main-logo {
  margin-top: -4rem;
}

.logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b483));
  background-image: linear-gradient(to right, #7ed56f, #28b483);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.logo:hover {
  -webkit-transform: skewY(4deg) skewX(5deg) scale(1.1);
  transform: skewY(4deg) skewX(5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  /* -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); */
          /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); */
}

.logo-link {
  text-decoration: none;
  color: transparent;
}

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7;
  margin-top: -7.8rem;

}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  overflow: auto;
  height: 40rem;
}


.review {
  background-color: #fff;
  -webkit-box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-right: 0rem;
  position: relative;
  overflow: hidden;
  width: 30rem;
  display: inline-block;
}

.review-text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4rem;
}

.review-photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.review-user-name {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -1rem;
}

.review-user-date {
  font-size: 1.3rem;
  color: #999;
}

.review::before {
  content: "\2714";
  position: absolute;
  top: -2.75rem;
  line-height: 1;
  left: -1rem;
  font-size: 10rem;
  color: #f4f2f2;
  font-family: sans-serif;
  z-index: 0;
}
/*# sourceMappingURL=main.css.map */